@media(min-width: 901px) {
    head,
    body {
        font-family: 'Caveat', cursive;
    }
    #bigbox {
        display: grid;
        font-size: 22px;
        flex-direction: row;
        grid-template-columns: minmax (min-content, 1300PX 4);
        grid-template-rows: max-content max-content max-content max-content;
        grid-template-areas: 'headertop headertop headertop headertop '' maininfo maininfo maininfo  sideMAININFOnote '' maininfo maininfo maininfo sidenote '' footer footer footer footer '
    }
    header {
        border: 2px solid whitesmoke;
        background-color: rgb(33, 112, 215);
        padding: 15px;
        font: 300px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    li {
        list-style: none;
        font-size: 20px;
    }
    .headertop {
        margin-top: 10px;
        grid-area: headertop;
        background-color: white;
        border: 8px solid whitesmoke;
        padding: 10px;
        display: flex;
        flex-direction: row;
        font-size: 22px;
        justify-content: space-between;
    }
    .maininfo {
        grid-area: maininfo;
        background-color: white;
        font-size: 22px;
        display: grid;
        flex-direction: column;
    }
    h2 {
        justify-content: center;
        font: 72px;
    }
    .sidenote {
        grid-area: sidenote;
        border: 4px solid rgb(33, 112, 215);
        background: rgb(114, 51, 61);
        padding: 5px;
        margin-top: 10PX;
        font-size: 22px;
        font-weight: bolder;
        display: flexbox;
        flex-direction: column;
        width: 50 px;
        height: 400PX;
        padding: 50px;
        justify-content: center;
    }
    #SMBCO {
        background-color: whitesmoke;
        border: 2PX dotted rgb(70, 107, 135);
        font-size: 5px;
        justify-content: center;
        width: fit-content;
        margin-left: 80px;
    }
    #bttl {
        color: grey;
        background-color: rgb(33, 112, 215);
        font-size: 22px;
        font-weight: bold;
        margin-right: 5px;
    }
    img {
        border: 4px solid rgb(114, 51, 61);
        background-image: url("socialMediaWordle.jpeg");
        height: 150px;
        width: 150px;
        padding: 13px;
        margin: 15px;
    }
    #sociImg {
        border: 2px solid rgb(111, 0, 96);
        display: grid;
        flex-direction: row;
        height: 35PX;
        width: 35px;
        margin-bottom: 10px;
    }
    .CSP {
        grid-area: sidenote;
        height: 450PX;
        width: 650PX;
        display: flexbox;
        flex-direction: column;
    }
    .footer {
        grid-area: footer;
        font-size: 22px;
        display: flex;
        flex-direction: row;
        padding: 10px;
        background-color: rgb(33, 112, 215);
        height: auto;
        width: auto;
        color: whitesmoke;
        justify-content: flex-end;
        margin-top: 10px;
    }
    #space1 {
        margin-top: 100px;
    }
    #hdp {
        height: 220px;
        width: 360px;
    }
}
